* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f4f4f4;
  color: #333;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://images.unsplash.com/photo-1558611848-73f7eb4001a1")
      center/cover;
  height: 100vh;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 30px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  margin-top: 150px;
}

.hero h2 {
  font-size: 48px;
}

.hero button {
  padding: 14px 30px;
  background: #ff5722;
  color: white;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

section {
  padding: 80px 60px;
  background: white;
}

.dark {
  background: #111;
  color: white;
}

.cards,
.pricing {
  display: flex;
  gap: 25px;
  margin-top: 30px;
}

.card,
.price-card {
  background: #f1f1f1;
  padding: 30px;
  border-radius: 8px;
  width: 33%;
}

.dark .card {
  background: #1e1e1e;
}

.price {
  color: #ff5722;
  font-size: 20px;
}

.center-text {
  text-align: center;
  margin-top: 15px;
}

footer {
  background: black;
  color: white;
  text-align: center;
  padding: 15px;
}
